html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.navigation{
    width: 320px;
    height: 100%;
    box-sizing: border-box;
    padding: 18px 24px;
    font-family: "TT Lakes";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    box-shadow: 16px 0 52px 0 rgba(14,24,80,0.2);
}

.navigation__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.navigation__link{
    width: 40px;
    height: 40px;
}

.navigation__link_left{
    margin-right: 15px;
}

.navigation__link_right{
    margin-left: 78px;
}

.bottom-container{
    position: absolute;
    bottom: 18px;
}

/* .navigation__menu{
    margin-bottom: 268px; 
} */

.navigation__text:hover{
    opacity: 0.5;
}

.navigation__text:hover::before{
    content: "";
    display: block;
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    border-radius: 0 5px 5px 0;
    position: absolute;
    left: 0;
}

.navigation__options{
    display: flex;
    width: 152px;
    justify-content: space-between;
    margin-bottom: 16px;
    align-self: end;
}

a:hover{
    opacity: 0.5;
}

.navigation__contacts{
    margin-bottom: 40px;
}

.navigation__mail{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin: 0;
    margin-bottom: 12px;
}

.navigation__number{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin: 0;
}

.navigation__lang{
    display: flex;
}

.navigation__lang a{
    margin: 0;
    margin-right: 7px;
}

.navigation__lang a:last-child{
    margin: 0;
}

.navigation__lang p:first-child{
    color: #7e7e82;
}

